.container{
	max-width: 40rem;
	padding: 0 0rem;
	margin: 3rem auto 6rem;
}

.header {
	width: 6rem;
}

.headerImage {
	width: 6rem;
	height: 6rem;
}

.headerHomeImage {
	width: 8rem;
	height: 8rem;
}

.backToHome {
	margin: 3rem 0 0;
}

.nav{
	float: right;
	text-align: right;
	color: orange;
}
.navItem {
	padding: 1rem;
	color: #000000;
}